.lan-failed-layout-run {
    background-image: url(images/red-folder.gif);
}

.x-grid-tree-node-expanded .lan-failed-layout-run {
    background-image: url(images/red-folder-open.gif);
}

.lan-missing-value {
    color: red;
    /*font-weight: bold;*/
}

.lan-available-value {
    display: none;
}

.lan-show-all-triggers .lan-available-value {
    display: block;
}

.lan-layout-not-done {
    background-image: url(images/red-led.gif) !important;
}

.lan-layout-partial-done {
    background-image: url(images/orange-led.gif) !important;
}

.lan-layout-done {
    background-image: url(images/green-led.gif) !important;
}

.lan-layout .lan-delete-row,
.lan-layout .lan-get-row-info {
    display: none !important;
}

.lan-refresh {
    background-image: url(images/refresh.gif) !important;
}

.lan-info {
    background-image: url(images/info.gif) !important;
}

.lan-load-run {
    background-image: url(images/folder-open.gif) !important;
}